<!DOCTYPE html>
<html lang="en">
  <!-- Start of the Header -->
  <head>
    <title>Flasked Altair</title>
    <meta charset="utf-8" />

    <!-- This is boiler plate styling for Altair -->
    <style>
      .vega-actions a {
        margin-right: 12px;
        color: #757575;
        font-weight: normal;
        font-size: 13px;
      }

      .error {
        color: red;
      }
    </style>

    <!-- Load Javascript for Vega-Related Libraries -->
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm//vega"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm//vega-lite"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm//vega-embed"
    ></script>
  </head>
  <!-- End of the Header -->

  <body>
    <!-- container main element on our page -->
    <div class="container">
      <!-- Create a div element for our chart -->
      <div id="chart"></div>
    </div>

    <!-- Render Charts: this has to be at the end!-->
    <script type="text/javascript">
      function embedChart(url, div) {
        // call vegaEmbed for the JSON spec
        vegaEmbed(`#${div}`, url)
          .then(function(result) {})
          .catch(console.error);
      }

      // run the function that embeds the chart
      embedChart("/chart", "chart");
    </script>
  </body>
</html>
